# compose file used to test the example plugins
#
# If on rootless docker, you may need to give docker the ability to bind to low ports:
# ```
# sudo setcap 'cap_net_bind_service=ep' /usr/bin/rootlesskit
# ```
#
# You'll have to restart the docker service for this to take effect
#
# To undo this, run:
# ```
# sudo setcap -r /usr/bin/rootlesskit
# ```

networks:
  default:
    name: zoraxy-rs_default

services:
  zoraxy:
    image: zoraxydocker/zoraxy:latest
    container_name: zoraxy
    restart: unless-stopped
    ports:
      - 80:80
      - 443:443
      - 8000:8000
    volumes:
      - ./examples/build/config/:/opt/zoraxy/config/
      - ./examples/build/plugins/:/opt/zoraxy/plugin/
      - /var/run/docker.sock:/var/run/docker.sock
      - /etc/localtime:/etc/localtime
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      FASTGEOIP: "true"

  test_webserver:
    image: nginx:alpine
    container_name: test-webserver
    restart: unless-stopped
    volumes:
      - ./examples/helloworld_www/:/usr/share/nginx/html:ro
